/**********************************************************************************/
/**                               Kevin Atherton                                 **/
/**                                May 8, 2019                                   **/
/**                            WEB114 Final Project                              **/
/**********************************************************************************/

*
        {
                box-sizing: border-box; /* configures universal selector for box sizing of elements */
        }

header, main, nav, footer, figure, figcaption, aside, section, article
        {
                display: block; /* configures html5 elements to work in older browsers */
        }

a
        {
                text-decoration: none;
        }

a:link 
        {
                color: #3498D8; /* configures light blue text color for default links */
        }

a:visited
        {
                color: #3498D8; /* configures light blue text color for visited links */
        }

a:hover
        {
                color: #FF0000; /* configures red text color when a link is hovered over */
        }

body
        {
                background-repeat: no-repeat;
                font-family: Arial, Helvetica, sans-serif;
        }

footer
        {
                font-size: 75%;
                font-style: italic;
                text-align: center;
        }

h1, h2, h3
        {
                font-family: Georgia, 'Times New Roman', Times, serif;
                text-align: center;
        }

html
        {
                height: auto;
        }

input
        {
                margin-right: .25em;
                margin-bottom: 1em;
                margin-left: .25em;
        }

input[type="text"]
        {
                text-align: center;
                width: 3em;
        }

ul
        {
                padding: 0;
        }

li
        {
                display: inline;
        }

main div
        {
                width: 70em;
                margin-right: auto;
                margin-bottom: .3em;
                margin-left: auto;
                text-align: center;
        }

#selectedImage
        {
                background-size: 100% 100%;
                height: 300px;
                margin-bottom: 1em;
        }

#wrapper
        {
                background-color: #FFFFFF; /* configures a white background for the wrapper div */
                border: .2em solid #0015A0; /* configures a dark blue border for the wrapper div */
                box-shadow: .2em .2em .2em #000000; /* configures an offset and blurred shadow for the wrapper div */
                margin-left: auto;
                margin-right: auto;
                min-width: 75em;
                padding: 1em;
                width: 80%;
        }

.dark
        {
                color: #FFFFFF; /* when an element is given dark class, the text color is white */
        }

.error
        {
                color: red; /* if the user triggers an error, the text color is red */
                font-weight: bold;
        }

.hidden
        {
                display: none;
        }

.light
        {
                color: #000000; /* when an element is given the light class, the text color is black. this is default for most elements */
        }

.show
        {
                display: block;
        }

/*################################################################################################################*/
/*################################## Beginning of Tablet Media Query #############################################*/
/*################################################################################################################*/

@media only screen and (max-width: 64em)
        {
                body
                        {
                                margin: 0;
                                padding: 0.2em 0.2em;
                        }

                h1
                        {
                                margin: 0;
                                padding-top: .2em;
                        }

                main
                        {
                                padding: 0.1em 0.1em;
                        }

                main div
                        {
                                margin-left: 0;
                                margin-right: 0;
                                width: auto;
                        }
                #wrapper
                        {
                                border: none;
                                box-shadow: none;
                                margin: 0;
                                min-width: 0;
                                padding: 0;
                                width: auto;
                        }
        }

/*########################################################################*/
/*############## Beginning of Mobile Media Query #########################*/
/*########################################################################*/

@media only screen and (max-width: 37.5em)
        {
                body
                        {
                                font-size: 80%; /* reduces text size so more can fit on the mobile viewport */
                        }
        }